<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/skillsheet.css}">
    <title>skillsheet</title>
</head>
<body>
    <header>
        <h1 id="title">職務経歴書</h1>
        <p id="update-date">更新日：<time datetime="2025-3-25">2025年3月25日</time></p>
        <nav>
            <ol>
                <li><a href="#career">職務経歴</a></li>
                <li><a href="#portfolio">ポートフォリオ</a></li>
                <li><a href="#qualifications">保有資格</a></li>
                <li><a href="#programming-language">言語経験</a></li>
                <li><a href="#other-skills">その他スキル</a></li>
                <li><a href="#other-PR">職務以外のPR</a></li>
                <li><a href="#career-details">職務内容詳細</a></li>
            </ol>
        </nav>
    </header>
    
    <main>
        <section id="career">
            <h2 class="content-title">職務経歴<small>(詳細は後述)</small></h2>
            <div class="content-wrapper">
                <p>
                    2020年 3月 ～ 2022年 6月　アイタックソリューションズ株式会社
                    <br>　2021年12月 ～ 2022年6月　休職
                </p>
                <p>2019年 4月 ～ 2020年 3月　日本NCRビジネスソリューション株式会社</p>
            </div>
        </section>
    
        <section id="portfolio">
            <h2 class="content-title">ポートフォリオ</h2>
            <div class="content-wrapper">
                <ul>
                    <li><a href="#">このページ</a></li>
                    <li><a href="https://github.com/egomaabura" target="_blank">GitHub</a></li>
                    <li><a href="https://qiita.com/gomaabura" target="_blank">Qiita</a></li>
                </ul>
            </div>
        </section>
    
        <section id="qualifications">
            <h2 class="content-title">保有資格</h2>
            <div class="content-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>年</th>
                            <th>月</th>
                            <th>資格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2019</td>
                            <td>10</td>
                            <td>基本情報技術者試験　合格</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    
        <section id="programming-language">
            <h2 class="content-title">言語経験</h2>
            <div class="content-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>言語</th>
                            <th>期間</th>
                            <th>経験</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VBA</td>
                            <td>半年</td>
                            <td>大学の講義</td>
                        </tr>
                        <tr>
                            <td>C#</td>
                            <td>1ヶ月</td>
                            <td>新卒研修</td>
                        </tr>
                        <tr>
                            <td>C言語</td>
                            <td>1ヶ月</td>
                            <td>新卒研修</td>
                        </tr>
                        <tr>
                            <td>C++</td>
                            <td>3ヶ月</td>
                            <td>業務</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>2年半</td>
                            <td>業務</td>
                        </tr>
                        <tr>
                            <td>Ruby</td>
                            <td>3ヶ月</td>
                            <td>業務</td>
                        </tr>
                        <tr>
                            <td>JavaScript</td>
                            <td>2年半</td>
                            <td>業務</td>
                        </tr>
                        <tr>
                            <td>Python3</td>
                            <td>4ヶ月</td>
                            <td>業務/趣味</td>
                        </tr>
                        <tr>
                            <td>Vue.js</td>
                            <td>2ヶ月</td>
                            <td>業務/趣味</td>
                        </tr>
                        <tr>
                            <td>React</td>
                            <td>1ヶ月</td>
                            <td>趣味</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    
        <section id="other-skills">
            <h2 class="content-title">その他スキル</h2>
            <div class="content-wrapper">
                <dl>
                    <div>
                        <dt>業務スキル</dt>
                        <dd>スピード感のある見積もり、実装</dd>
                        <dd>ドキュメンテーション(調査資料作成・単体試験仕様書作成等)</dd>
                    </div>
                    <div>
                        <dt>業務知識</dt>
                        <dd>小売業</dd>
                        <dd>ドラッグストア</dd>
                    </div>
                    <div>
                        <dt>チーム開発スキル</dt>
                        <dd>バージョン管理</dd>
                        <dd>レビュー</dd>
                        <dd>スクラム開発のノウハウ</dd>
                    </div>
                    <div>
                        <dt>その他開発スキル</dt>
                        <dd>大規模アプリケーション開発</dd>
                        <dd>マイクロサービスアーキテクチャについての知見</dd>
                        <dd>GraphQLについての知見</dd>
                        <dd>gRCPについての知見</dd>
                    </div>
                    <div>
                        <dt>テストについての知見</dt>
                        <dd>スタブ</dd>
                        <dd>テストデータ</dd>
                        <dd>リグレッションテスト</dd>
                        <dd>負荷テスト</dd>
                        <dd>自動テスト</dd>
                    </div>
                    <div>
                        <dt>様々な技術の基礎知識</dt>
                        <dd>シェルコマンド</dd>
                        <dd>SpringBoot</dd>
                        <dd>Ruby on Rails</dd>
                        <dd>VisualBasic</dd>
                        <dd>非同期処理</dd>
                        <dd>トランザクション</dd>
                        <dd>XML</dd>
                        <dd>WebAPI</dd>
                        <dd>EC2</dd>
                        <dd>Linux</dd>
                        <dd>MySQL</dd>
                        <dd>ストアドプロシージャ</dd>
                    </div>
                </dl>
            </div>
        </section>
    
        <section id="other-PR">
            <h2 class="content-title">職務以外のPR</h2>
            <div class="content-wrapper">
                <section>
                    <h3>技術のキャッチアップに関して</h3>
                    <div class="second-content-wrapper">
                        <dl>
                            <div>
                                <dt>英語の学び直し</dt>
                                <dd>最新技術をキャッチアップする際は、英語のドキュメントを抵抗なくスムーズに読めることが重要になると思うので、改めて英語の勉強をしています。具体的には、TOEIC900点以上を目標にしています。</dd>
                            </div>
                            <div>
                                <dt>アウトプット</dt>
                                <dd>技術の習得にはアウトプットすることが大切だと思うので、何かしらのアプリを開発しようと考えています。開発したものはGitHubに随時アップしていく予定です。</dd>
                            </div>
                        </dl>
                    </div>
                </section>
            
                <section>
                    <h3>その他の能力</h3>
                    <div class="second-content-wrapper">
                        <p>大学時代の部活動(吹奏楽部)の経験から、以下の能力を持っていると言えます。</p>
                        <dl>
                            <div>
                                <dt>自分から問題点を見つけ、解決する能力</dt>
                                <dd>手動で行っていたアンケート集計をより楽に正確にできるように、Excelでの集計手順を考えマニュアルを作成しました。</dd>
                                <dd>紙ベースで行っていた楽譜の管理を、Excelを使用した簡易データベースを作成し、電子管理できるようにしました。</dd>
                                <dd>上記は、自分が引退しても継続して使用できるよう、一般的な文系大学生のPCスキルを基準にして行いました。</dd>
                            </div>
                            <div>
                                <dt>少人数(10人以下)のチームでプロジェクトを遂行する能力</dt>
                                <dd>仕事の進捗の見える化のため、ガントチャートを導入しました。</dd>
                                <dd>締め切り厳守のため仕事の開始日を設定してもらいリマインドをするようにしました。</dd>
                            </div>
                            <div>
                                <dt>周囲を巻き込んで実行する能力</dt>
                                <dd>それまでやっていなかった新入生歓迎期間の演奏会を提案し、初めて開催しました。</dd>
                            </div>
                            <div>
                                <dt>後輩の指導力</dt>
                                <dd>最初は一緒に同じ作業をして、初めての仕事でも無理なく完遂できるよう努めました。</dd>
                                <dd>割り振れる小さな仕事はどんどん任せ、その後のフォローもしっかりできるよう、こまめに状況確認を行いました。</dd>
                            </div>
                        </dl>
                    </div>
                </section>
            </div>
        </section>
    
        <section id="career-details">
            <h2 class="content-title">職務内容詳細</h2>
            <div class="content-wrapper">
                <section>
                    <h3>アイタックソリューションズ株式会社</h3>
                    <div class="second-content-wrapper">
                        <p>正社員として勤務</p>
                        <p>
                            事業内容：アプリケーション・システム開発
                            <br>資本金：2500万円
                            <br>従業員数：75名
                            <br>上場：未上場
                        </p>
        
                        <table>
                            <thead>
                                <tr>
                                    <th>期間</th>
                                    <th>案件/担当業務</th>
                                    <th>開発環境</th>
                                    <th>メンバー/役割</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2021年 8月 ～ 2021年12月</td>
                                    <td>
                                        専門学校向けポータルサイト/スマホアプリの開発
                                        <br>≪概要≫
                                        <br>受講証(QRコード)の表示、授業日程・成績確認、テストの提出等ができるポータルサイトを、マイクロサービスアーキテクチャを用いて開発。新技術・新手法が盛りだくさんであったため手探り状態で大変でしたが、ドキュメントを残すことで自身の知識整理や、ナレッジ共有を意識して取り組みました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>自動テストツールの調査(Tavern, Karate)</li>
                                            <li>API/UIテストのケース・データ作成と実行</li>
                                            <li>新機能画面の作成(Vue.js)</li>
                                            <li>簡易な工数管理</li>
                                            <li>スプリント計画会議での振り返り(KPT, YWT)：Excelシートを作成してメンバーに入力してもらい、反省点・次にやることの繋がりを分かりやすくするよう工夫を行いました。</li>
                                            <li>勉強会の主催</li>
                                        </ul>
                                    </td>
                                    <td>Java, Vue.js, Python3, AWS, Linux, GitHub, CircleCI, MySQL, GraphQL, gRCP, Tavern, Karate, Jmeter, Jira, Kibela, Trello,等</td>
                                    <td>
                                        5～6名/メンバー→スクラムマスター
                                        <br>
                                        <br>※元々スクラムマスターだったメンバーが抜けたため、業務を一部引き継ぎました。
                                    </td>
                                </tr>
                                <tr>
                                    <td>2021年 3月 ～ 2021年 7月</td>
                                    <td>
                                        ECサイトの新機能追加(株式会社AMS)
                                        <br>≪概要≫
                                        <br>服を試着するために実店舗に取り置いておく機能を開発しました。新機能の画面・バックエンドの詳細設計からリリースまで一貫して経験できました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>画面の動作とバックエンドの詳細設計からリリース</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring, Backbone.js, AWS, Linux, Subversion, MySQL, Redmine, TeraTerm, 等</td>
                                    <td>3名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2020年10月 ～ 2021年 2月</td>
                                    <td>
                                        ECシステムのWMS機能追加(株式会社AMS)
                                        <br>≪概要≫
                                        <br>新しく連携する他社ECサイトに合わせWMSに新しい機能が必要になったため、WMSと自社ECサイトの連携バッチの開発を行いました。様々なサービスが連携するための開発を初めて行い、インターフェースの重要性をより認識できました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>バッチの詳細設計～単体テスト</li>
                                            <li>バッチを起動するシェルスクリプトの実装</li>
                                            <li>バックオフィス画面の変更点を調査、詳細設計～単体テスト</li>
                                            <li>マスタデータ追加</li>
                                            <li>テスト環境へのリリース</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring,Backbone.js, AWS, S3, Linux, Subversion, MySQL, iBatis, Redmine, TeraTerm, 等</td>
                                    <td>
                                        3～5名/メンバー
                                        <br>
                                        <br>※開発が落ち着いたタイミングで、リーダー除くメンバーが2名になりました。
                                    </td>
                                </tr>
                                <tr>
                                    <td>2020年 9月 ～ 2020年 9月</td>
                                    <td>
                                        ECサイトの在庫更新API開発(株式会社AMS)
                                        <br>≪概要≫
                                        <br>外部在庫管理サービスからのリクエストで、WMSの在庫を更新するAPIを開発しました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>詳細設計の途中から引き継ぎ、実装・単体テスト</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring, AWS, Linux, Git, Redmine, TeraTerm, 等</td>
                                    <td>10名程度/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2020年 7月 ～ 2020年 8月</td>
                                    <td>
                                        ECサイトの注文画面変更(株式会社AMS)
                                        <br>≪概要≫
                                        <br>商品種別(取り寄せ商品)の追加に伴い、注文画面で配送日時の表示・非表示を切り替える必要が生じたため対応しました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>修正該当箇所影響調査</li>
                                            <li>詳細設計書/テスト仕様書の作成</li>
                                            <li>実装/単体テスト実行</li>
                                            <li>リリース対応</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring, AWS, Linux, Git, Redmine, TeraTerm, 等</td>
                                    <td>10名程度/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2020年 4月 ～ 2020年 6月</td>
                                    <td>
                                        勤怠管理アプリの開発
                                        <br>≪概要≫
                                        <br>元々自社で使用していた勤怠管理アプリの、自社製品として販売するための機能開発や、カスタマイズを行いました。チームでの開発を業務でほぼ初めて行い、バージョン管理やレビューの重要性を認識できました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>追加機能の実装</li>
                                            <li>テストケース作成</li>
                                            <li>別アプリだった休暇管理アプリを統合(Java→Ruby)：※大体、週に1機能を結合テスト前まで持っていく程度のスピードで開発をしていました(テスト実施は別のテスターが行っていました)。</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring, Ruby on Rails, JQuery, AWS, Linux, GitHub, VirtualBox, TeraTerm, 等</td>
                                    <td>5名程度/メンバー
                                        <br>
                                        <br>
                                        ※1名デザイン専任。開発メンバーは3名。</td>
                                </tr>
                                <tr>
                                    <td>2020年 3月 ～ 2020年 3月</td>
                                    <td>
                                        社内向け案件管理アプリ開発　※研修
                                        <br>≪概要≫
                                        <br>社内向けに案件のCRUD、検索ができるアプリを開発しました。SpringBootを使用してスクラッチで開発し、EC2で環境構築・デプロイしました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>社長指示通りに実装</li>
                                            <li>GitHubでバージョン管理</li>
                                            <li>EC2で環境構築・デプロイ</li>
                                            <li>DB設計書作成</li>
                                            <li>保守対応</li>
                                        </ul>
                                    </td>
                                    <td>Java, Spring, BootStrap, AWS, Linux, GitHub, TeraTerm, 等</td>
                                    <td>1名/メンバー</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section>
                    <h3>日本NCRビジネスソリューション株式会社</h3>
                    <div class="second-content-wrapper">
                        <p>正社員として勤務</p>
                        <p>
                            事業内容：アプリケーション・システム開発
                            <br>資本金：2億6000万円
                            <br>従業員数：100名強
                            <br>上場：未上場
                        </p>
        
                        <table>
                            <thead>
                                <tr>
                                    <th>期間</th>
                                    <th>案件/担当業務</th>
                                    <th>開発環境</th>
                                    <th>メンバー/役割</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2020年 2月 ～ 2020年 3月</td>
                                    <td>
                                        業務基幹システム更改PJ　※OJT
                                        <br>≪概要≫
                                        <br>Access等で組まれていた業務基幹システムをVBを用いて構築し直すプロジェクトに参画しました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>IF仕様書作成</li>
                                            <li>帳票テンプレート作成</li>
                                            <li>マスタ検索画面実装</li>
                                            <li>単体テスト仕様書作成(実装は他メンバー)</li>
                                        </ul>
                                    </td>
                                    <td>VB.NET, SQLServer, Access, 等</td>
                                    <td>3名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2020年 1月 ～ 2020年 1月</td>
                                    <td>
                                        データ抽出バッチの作成　※OJT
                                        <br>≪概要≫
                                        <br>売上データをDBからCSVに出力するバッチを開発しました。カレントディレクトリの重要性や、SQLの関数について学びました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>ストアドプロシージャの作成(SQLServer)</li>
                                            <li>ストアドプロシージャを起動するコマンドファイルの作成</li>
                                        </ul>
                                    </td>
                                    <td>SQLServer, Windowsコマンド, 等</td>
                                    <td>1名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2019年 10月 ～ 2019年 12月</td>
                                    <td>
                                        POSシステム新パッケージ開発PJ　※OJT
                                        <br>≪概要≫
                                        <br>小売業向けPOSシステムの新パッケージ開発を行いました。初めて業務レベルのJavaに触れ、業務知識の薄い状態でコードを読むことの難しさを感じました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>旧パッケージのリグレッションテストを使用して動作確認</li>
                                            <li>割引の優先度について資料作成</li>
                                            <li>旧パッケージの動作を元に、テスト仕様書作成</li>
                                            <li>その他調査資料作成</li>
                                        </ul>
                                    </td>
                                    <td>Java, SQLServer, Subversion, 等</td>
                                    <td>6名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2019年 9月 ～ 2019年 9月</td>
                                    <td>
                                        他者の作成したプログラムの単体テスト　※OJT
                                        <br>≪概要≫
                                        <br>レジとカード決済端末の通信プログラムの単体テストを行いました。スタブを利用した単体テストの方法について学びました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>スタブの一部改修(C++)</li>
                                            <li>テストデータ・テストケースの作成</li>
                                            <li>テスト実施</li>
                                        </ul>
                                    </td>
                                    <td>C++</td>
                                    <td>1名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2019年 7月 ～ 2019年 9月</td>
                                    <td>POSシステム開発PJ　※OJT
                                        <br>≪概要≫
                                        <br>ドラッグストア向けPOSシステム開発PJに参画しました。消費税制改正対応や、決済方法追加対応の結合テスト～総合テストを担当しました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>結合テストシナリオ作成</li>
                                            <li>結合テスト実施</li>
                                            <li>総合テスト実施</li>
                                        </ul>
                                    </td>
                                    <td>不明</td>
                                    <td>15名程度/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2019年 6月 ～ 2019年 6月</td>
                                    <td>簡易的なPOSシステム開発PJ　※研修
                                        <br>≪概要≫
                                        <br>新卒SE3名でチームを組み、最低限の機能を持ったPOSシステムの開発を行いました。サポートとして、先輩2名が基盤構築等を行いました。モノを作る楽しさや、要件・使用を考える難しさを学びました。
                                        <br>≪担当≫
                                        <ul>
                                            <li>要件定義</li>
                                            <li>WBS作成</li>
                                            <li>DB設計</li>
                                            <li>計算ロジック以外の機能実装</li>
                                            <li>テスト実施</li>
                                            <li>デモ実施</li>
                                        </ul>
                                    </td>
                                    <td>C++, SQLServer, Subversion, Redmine, 等</td>
                                    <td>5名/メンバー</td>
                                </tr>
                                <tr>
                                    <td>2019年 5月 ～ 2019年 5月</td>
                                    <td>C言語基礎・SQL基礎学習　※研修
                                        <br>≪概要≫
                                        <br>C言語とSQLの基礎的な知識を、先輩社員の指導の下学習。アルゴリズムを考えて実装する楽しさを感じました。
                                        <br>≪内容≫
                                        <ul>
                                            <li>テキストに沿って簡単な講義</li>
                                            <li>簡単なアルゴリズムを実装する演習</li>
                                            <li>SQLを学べるサイトで演習</li>
                                        </ul>
                                    </td>
                                    <td>C言語, SQL</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>2019年 4月 ～ 2019年 5月</td>
                                    <td>社外集合研修　※研修
                                        <br>≪概要≫
                                        <br>他社の新卒も集まる場で、ビジネスマナーやプログラミング基礎を学習。チームで仕事をすることの難しさや、プログラミングの楽しさを感じました。
                                        <br>≪内容≫
                                        <ul>
                                            <li>ビジネスマナー</li>
                                            <li>仕事の進め方</li>
                                            <li>コンピュータ基礎</li>
                                            <li>アルゴリズム基礎</li>
                                            <li>C#の個人開発とグループワーク</li>
                                        </ul>
                                    </td>
                                    <td>C#</td>
                                    <td>
                                        5名/メンバー
                                        <br>
                                        <br>※グループワークの際のチーム
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </section>
    </main>
</body>
</html>